<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Sangria & Provento</title>
    <meta charset="utf-8">
    <link rel="icon" type="img" href="../../img/money.png" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));">
    
    
    
    <div class="container">
        <h2>Formulário</h2>
        <form class="form-horizontal" action="/salvarsangria" METHOD="POST">
            <div class=" form-group ">

                <div class="form-group ">
                    <label class="control-label col-sm-2 " for="number ">Saldo atual do caixa:</label>
                    <div class="col-sm-5 ">
                      <input readonly type="text" value="<%= caixa.caixa_valorfinal%>" id="caixa_valorfinal" name="caixa_valorfinal">
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label col-sm-2 " for="number ">Valor:</label>
                    <div class="col-sm-5 ">
                        <input  type="number " 
                                class="form-control " 
                                id="valor" 
                                placeholder="Insira o valor " 
                                name="valor"
                                maxlength="10"
                                onkeypress="return onlyNumber(event)">
                    </div>
                </div>

                <input type="hidden" value="<%= caixa.caixa_id%>" id="caixa_id" name="caixa_id">
<<<<<<< HEAD
                <input  type="hidden" value="<%= caixa.caixa_fechamento%>" id="caixa_fechamento" name="caixa_fechamento">
          
           
=======
                <input type="hidden" value="<%= caixa.caixa_fechamento%>" id="caixa_fechamento" name="caixa_fechamento">
>>>>>>> c497309bf2569de8c34e121077cf73838e1c263a

                <div class="form-group ">
                    <label class="control-label col-sm-2 " for="number ">Tipo:</label>
                    <div class="col-sm-5 ">
                        <select id="tipo" name="tipo" class="custom-select bg-secondary text-white form-control" required>
                            <option value="1" selected>Provento</option>
                            <option value="2">Sangria</option>
                        </select>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="control-label col-sm-2 " for="comment ">Motivo:</label>
                    <div class="col-sm-5 ">
                        <textarea   class="form-control " 
                                    rows="5 " 
                                    id="comment " 
                                    name="motivo"
                                    minlength="10"
                                    maxlength="150"></textarea>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-sm-offset-2 col-sm-5 ">
                        <button type="submit " class="btn btn-default ">Enviar</button>
                    </div>
                </div>

                <div class="form-group">
                    <% if(validacao) {%>
                        <% for(let i = 0; i < validacao.length; i++){ %>
                            <li>
                                <%= validacao[i].msg%>
                            </li>
                        <% } %>
                    <% } %>
                    <!-- <div class="alert alert-warning alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
                    </div> -->
                </div>

                <!-- <% if(validacao) {%>
                    <ul>
                        <% for(let i = 0; i < validacao.length; i++){ %>
                            <li>
                                <%= validacao[i].msg%>
                            </li>
                        <% } %>
                    </ul>
                <% } %> -->

            </div>
        </form>
    </div>
</body>
<script>
    function onlyNumber(evt) {
          
          // Only ASCII charactar in that range allowed
          var ASCIICode = (evt.which) ? evt.which : evt.keyCode
          if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
              return false;
          return true;
      }
</script>
<script type="text/javascript" src="../../utils/validators.js"></script>

</html>